{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
        <h1>Récupération <a href="{{ path('player_homepage') }}" class="btn btn-warning">Retour</a></h1>
        <h3>Or : {{ character.gold }}</h3>
        {% if message %}<h3>{{ message }}</h3>{% endif %}
        <table class="table">
            <tr>
                <th>Objet</th>
                <th>Prix</th>
                <th></th>
            </tr>
            {% for item in items %}
                <tr>
                    <td><img src="{{ item.image }}" title="{{ item.name }}" width="40"></td>
                    <td>{{ item.priceBuy  }}</td>
                    {% if item.priceBuy > 0 %}
                        <td><a href="{{ path('buy_item', {'id': item.id}) }}" class="btn btn-primary">Vendre</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}