{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
    <div class="col-lg-8">
        {% if map is not empty %}
            <table id="zone" fight="1" style="border:1px solid black;display:none;">
                {% for lines in map %}
                    <tr>
                        {% for col in lines %}
                            <td obstacle="{{ col.obstacle }}" trigger="{{ col.trigger }}" monster='{{ col.monster}}' decor='{{ col.decoration[:-4] }}'
                                class="{{ col.decoration[:-4] }} no-war-fog" width="40" height="40">
                                {% if col.monster != "0" %}
                                    <img src="{{col.monster}}" width="40" heigth="40">
                                {% endif %}
                                {% if col.trigger == "1" %}
                                    <img id="hero" line="{{col.x}}" col="{{col.y}}" src="{{asset(null)}}images/tete.jpg" width="40" heigth="40"  >
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            Pas de carte : en construction
        {% endif %}
        <canvas id="fight" width="{{ map | first | length * 40}}" height="{{ map | length * 40 }}"></canvas>
    </div>

</div>
<div id="interface">
    <ul id="capacity" >

    </ul>
</div>
<div id="opponents">
    {% for quickness in order  %}
        {% for key, type in quickness %}
            {% for opponent in type %}
                <div type ="{{ key }}" opponentid="{{ opponent.id }}"
                     name = "{{ opponent.name }}"
                     health = "{{ opponent.health }}"
                     energy = "{{ opponent.energy }}"
                     move = "{{ opponent.move }}" quickness = "{{ opponent.quickness }}"
                     attack = "{{ opponent.attack }}" defense = "{{ opponent.defense }}"
                     critical = "{{ opponent.critical }}" level = "{{ opponent.level }}">
               </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
<div id="capacities">
    {% for key,type in capacities %}
        <div id ="{{ key }}" nbcap ="{{ type|length }}"
            {% for key, capacity in type %}
                cap{{ key+1 }} = "{{ capacity }}"
            {% endfor %}
            >
        </div>
    {% endfor %}

</div>
    {#{{ dump(capacities) }}#}
</div>
    <script src="{{ asset('roland/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('roland/js/vendor/jquery-3.2.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('roland/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('roland/js/fight.js') }}"></script>
{% endblock %}
