{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
	<div class="col-lg-8">
        {% if map is not empty %}
		<table id="zone" style="border:1px solid black;">
			{% for lines in map %}
			<tr>
				{% for col in lines %}
					<td obstacle="{{ col.obstacle }}" trigger="{{ col.trigger }}" monster='{{ col.monster}}' decor='{{ col.decoration[:-4] }}'>
						{% if col.monster != "0" %}
							<img src="{{col.monster}}" class="invisible" width="40" heigth="40">
						{% endif %}
						{% if col.trigger == "1" %}
							<img id="hero" line="{{col.x}}" col="{{col.y}}" src="{{asset(null)}}images/tete.jpg" width="40" heigth="40"  >
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}		
		</table>
        {% else %}
            Pas de carte : en construction
        {% endif %}
        <canvas id="game" width="{% for key,lines in map %}{% if key == 0 %}{{ lines | length * 40 }}{% endif %}{% endfor %}" height="{{ map | length * 40 }}"></canvas>
	</div>
	<div class="col-lg-2">
		<div id="dialog"></div>
	</div>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#quest" style="display:none;">Open Modal</button>

<!-- Modal -->
{% for info in infos %}
<div id="{{ info.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ info.title }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ info.infos|raw }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}

{% endblock %}