{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
    <h1>Listes des {{ function }} <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a></h1>
    <ul>
        {% for quest in quests %}
            <li>Chapitre {{ quest.chapter }} : {{ quest.title }} </li>
                {% for i in quest.difficultyMin..quest.difficultyMax %}
                    {% if (quest.levelMin * i) <= character.level %}
                    	
                		{% for key,label in dico.difficulties %}
                			{% if key == i %}
                				<a href="{{ path('control_quest', {'id' : quest.id})}}" class="btn {% block done %}{{ render(controller(
                'AppBundle\\Controller\\PlaceController::questsDone', {'id' : quest.id, 'difficulty' : i })) }}{% endblock %}">{{ label }} </a>
                			{% endif %}
            			{% endfor %}

                    {% else %}

                        {% for key,label in dico.difficulties %}
                            {% if key == i %}
                                <a href="#" class="btn btn-danger">{{ label }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            
        {% endfor %}
    </ul>

    <p>Légende</p>
    <button class="btn btn-success">Quete réussie</button>
    <button class="btn btn-primary">Quete à faire</button>
    <button class="btn btn-danger">Quete niveau supérieur</button>
</div>
{% endblock %}