{% extends 'default/players/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
    <h1>Vente <a href="{{ path('player_homepage') }}" class="btn btn-warning">Retour</a></h1>
    <h3>Or disponible : {{ character.gold }}</h3>
    <h3>{% block sell %}{% endblock %}</h3>
    <table class="table">
        <tr>
            <th>Objet</th>
            <th>Prix</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td><img src="{{ item.image }}" title="{{ item.name }}" width="40"></td>
            <td>{{ item.priceSell  }}</td>
            {% if item.priceSell <= character.gold %}
                <td><a href="{{ path('sell_item', {'id' : item.id}) }}" class="btn btn-primary">Acheter</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}