{% block team %}
    <div id="player" class="col-lg-2" >
            <table class="table text-center">
                <tr>
                    <td colspan="2"><img src="{{ character.image }}" width=50 height="50"></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="{{ path('stats_player') }}">{{ character.name }}</a></td>
                </tr>
                <tr>
                    <th class="health"></th>
                    <td>{{ character.health }} / {{ character.maxHealth }}</td>
                </tr>
                <tr>
                    <th  class="gold"></th>
                    <td>{{ character.gold }}</td>
                </tr>
                <div id="hero_stats"
                     name = "{{ character.name }}" image = "{{ character.image }}"
                     health = "{{ character.health }}" maxHealth = "{{ character.maxHealth }}"
                     energy = "{{ character.energy }}" maxEnergy = "{{ character.maxEnergy }}"
                     move = "{{ character.move }}" quickness = "{{ character.quickness }}"
                     attack = "{{ character.attack }}" defense = "{{ character.defense }}"
                     critical = "{{ character.critical }}" level = "{{ character.level }}"></div>
                {% for key, mate in team %}
                    {% if mate == false %}
                        <tr>
                            <td>vide</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2"><img src="{{ mate.teammate.image }}" width=50 height="50"></td>
                        </tr>
                        <tr>
                            {% if mate.avalaible == 0 %}
                                <td><a href="{{ path("stats_follower", {'id' : mate.teammate.id}) }}">{{ mate.teammate.name }}</a></td>
                            {% else %}
                                <td><a href="{{ path("stats_follower", {'id' : mate.teammate.id}) }}" style="color:red;">{{ mate.teammate.name }}</a></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="health"></th>
                            <td>{{ mate.teammate.health }} / {{ mate.teammate.maxHealth }}</td>
                        </tr>
                        <div id="team_stats_{{ key + 1 }}"
                             name = "{{ mate.teammate.name }}" image = "{{ mate.teammate.image }}"
                             health = "{{ mate.teammate.health }}" maxHealth = "{{ mate.teammate.maxHealth }}"
                             energy = "{{ mate.teammate.energy }}" maxEnergy = "{{ mate.teammate.maxEnergy }}"
                             move = "{{ mate.teammate.move }}" quickness = "{{ mate.teammate.quickness }}"
                             attack = "{{ mate.teammate.attack }}" defense = "{{ mate.teammate.defense }}"
                             critical = "{{ mate.teammate.critical }}" level = "{{ mate.teammate.level }}"></div>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
{% endblock %}