<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}RPG!{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
    <link rel="stylesheet" href="{{ asset('roland/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('roland/css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
<div class="container">
    <div class="row">

        {% block team %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block rightbar %}
        {% endblock %}

        {% block optionsbar %}
        {% endblock %}        

    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('roland/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('roland/js/vendor/jquery-3.2.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('roland/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('roland/js/hero.js') }}"></script>
    <script src="{{ asset('roland/js/script.js') }}"></script>

{% endblock %}
</body>
</html>