{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
            <h1>Accueil</h1>

            {% if nbCharacters == 0 %}
                <a href="{{ path('create_Character') }}" class="btn btn-primary">Création d'un nouveau compte</a>
            {% else %}
                <a href="{{ path('player_homepage') }}" class="btn btn-primary">Se Connecter</a>
            {% endif %}
    </div>
    <div class="row">
        <h1>Informations Techniques</h1>
        <a href="{{ path('admin') }}" class="btn btn-primary">Page Administrateur</a>
        {% for message in messages %}
            <h4>{{ message.title }}</h4>
            <p>{{ message.result }}</p>
            <p>{{ message.nbfiles }} / {{ message.nbTables }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
