{% extends 'default/playerPage.html.twig' %}

{% block main %}
<div id="map" class="col-lg-8">
        <h1>{{ function.name }} <a href="{{ path('places', {'id': function.placeid.id}) }}" class="btn btn-primary">Retour</a></h1>
        <ul>
            {% if infos != null %}
                {% for info in infos %}
                    <li><img src="/images/info{{ info.type }}.png" width="40"> <a href="{{ path('info_read', {'id': info.id, 'placeId' : function.placeid.id}) }}">{{ info.title }}</a></li>
                {% endfor %}
            {% else %}
                <p>Pas de nouvelles {{ function.name }}</p>
            {% endif %}
        </ul>
        {% if infosRead != null %}
            <h4>{{ function.name }} lu(e)s</h4>
            <ul>
                {% for info in infosRead %}
                    <li><img src="/images/info{{ info.type }}.png" width="40"> <a href="{{ path('info_read', {'id': info.id, 'placeId' : function.placeid.id}) }}">{{ info.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
{% endblock %}