{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Inventaire</h1>
        <div class="col-lg-4">
            <h2>Equipé</h2>
            <ul>
                {% for item in listEquiped %}
                    {% if item.contained == 0 %}
                        <li>{{ item.itemId.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Sacs</h2>
            <ul>
                {% for item in list %}
                    {% if item.contained == 0 %}
                        {% if item.containerSpace > 0 %}
                            <li><a href="#">{{ item.itemId.name }}</a>
                                <a href="{{ path('options_inventory_see', {'id' : item.id}) }}" class="btn btn-primary">Ouvrir</a>
                            </li>
                        {% else %}
                            <li><a href="#">{{ item.name }}</a>
                                <a href="#" class="btn btn-primary">Equiper</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if listIn != null %}
        <div class="col-lg-4">
            <h2>Contenu</h2>
            <ul>
                {% for item in listIn %}
                    <li><a href="#">{{ item.name }}</a>
                        {% if item.type == 1 %}
                            {% if character.level >= item.levelMin %}
                                <a href="#" class="btn btn-primary">Equiper</a>
                            {% else %}
                                Niveau Requis : {{ item.levelMin }}
                            {% endif %}
                        {% endif %}
                        {% if item.type == 3 %}
                            {% if character.level >= item.levelMin %}
                                <a href="#" class="btn btn-primary">Utiliser</a>
                            {% else %}
                                Niveau Requis : {{ item.levelMin }}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="javascript:history.go(-1)" class="btn btn-primary">Fermer</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a>
    </div>
</div>
{% endblock %}