{% extends 'default/inventory.html.twig' %}

{% block follower %}
    <h1>Inventaire {{ follower.name }}</h1>
    <div class="col-lg-4">
        <h4>Equipé</h4>
        <ul>
            {% for item in followerListEquiped %}
                {% if item.contained == 0 %}
                    <li>{{ item.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-2">
        <h4>Sacs</h4>
        <ul>
            {% for item in followerList %}
                {% if item.contained == 0 %}
                    {% if item.containerSpace > 0 %}
                        <li><a href="#">{{ item.name }}</a>
                        </li>
                    {% else %}
                        <li><a href="#">{{ item.name }}</a>
                            <a href="#" class="btn btn-primary">Equiper</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-6">
        <h4>Contenu</h4>
        <ul>
            {% for item in followerListIn %}
                <li><a href="#">{{ item.name }}</a>
                    {% if item.type == 1 %}
                        {% if character.level >= item.levelMin %}
                            <a href="#" class="btn btn-primary">Equiper</a>
                        {% else %}
                            Niveau Requis : {{ item.levelMin }}
                        {% endif %}
                    {% endif %}
                    {% if item.type == 3 %}
                        {% if character.level >= item.levelMin %}
                            <a href="#" class="btn btn-primary">Utiliser</a>
                        {% else %}
                            Niveau Requis : {{ item.levelMin }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}