{% extends 'default/inventory.html.twig' %}

{% block follower %}
    <h1>Inventaire {{ follower.name }}</h1>
    <div class="col-lg-4">
        <h4>Equipé</h4>
        <ul>
            {% for item in followerListEquiped %}
                {% if item.contained == 0 %}
                    <li>{{ item.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-8">
        <h4>Contenu du Sac ( {{ countFollower }} / {{ follower.maxCapacityBag }} )</h4>
        <table style="text-align:center;"><tr>
                {% for item in followerListIn %}

                    {% if item != false %}

                        <td style="border:2px solid rosybrown;width:40px;height: 40px;">
                        <img src="{{ asset(item.image) }}" width="40" title="{{ item.name }}">
                        <a href="" title="Voir les détails"><img src="{{ asset('images/loupe.jpg') }}" width="10"></a>
                        {% if item.type == 1 %}
                            {% if character.level >= item.levelMin %}
                                <a href="#" title="Equiper"><img src="{{ asset('images/casque.jpg') }}" width="15"></a></td>
                            {% else %}
                                <a href="#" title ="Niveau Requis : {{ item.levelMin }}"><img src="{{ asset('images/exclamation.png') }}" width="10"></a></td>
                            {% endif %}
                        {% endif %}
                        {% if item.type == 3 %}
                            {% if character.level >= item.levelMin %}
                                <a href="#" title="Utiliser"><img src="{{ asset('images/main.png') }}" width="10"></a></td>
                            {% else %}
                                <a href="#" title ="Niveau Requis : {{ item.levelMin }}"><img src="{{ asset('images/exclamation.png') }}" width="10"></a></td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td style="border:2px solid rosybrown;width:40px;height: 40px;"></td>
                    {% endif %}

                {% endfor %}
            </tr>
        </table>
    </div>

{% endblock %}