{% extends 'base.html.twig' %}

{% block team %}
    {{ render(controller('AppBundle\\Controller\\PlayerController::teambar')) }}
{% endblock %}

{% block main %}
    <div id="map" class="col-lg-8">
            <h1>{{ map.mapName }}</h1>
            {% for place in places %}
                <a href="{{ path("places", {'id': place.id}) }}" class="btn btn-primary">{{ place.description }}</a>
            {% endfor %}
        </div>
{% endblock %}

{% block rightbar %}
    {{ render(controller('AppBundle\\Controller\\PlayerController::rightbar')) }}
{% endblock %}

{% block optionsbar %}
    {{ render(controller('AppBundle\\Controller\\PlayerController::optionsbar')) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

