{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
	    <div class="row">
	    	<h1>Page Administrateur</h1>
	    	<h4>Maps</h4>
	    	<a href="{{ path('admin_map_main_new') }}" class="btn btn-primary">Nouvelle zone</a>
			<h4>Places</h4>
	    	<a href="#" class="btn btn-warning">Nouveau lieu</a>
			<a href="{{ path('admin_places_list') }}" class="btn btn-primary">Liste des lieux</a>
	    	<a href="#" class="btn btn-warning">Nouvelle Fonction de Lieu</a>
	    	<h4>Capacities</h4>
	    	<a href="#" class="btn btn-warning">Nouvelle Capacité</a>
			<a href="#" class="btn btn-warning">Nouvelle Capacité par Suivant Item</a>
			<h4>Items</h4>
	    	<a href="{{ path('admin_item_new')}}" class="btn btn-primary">Nouvel Objet</a>
			<a href="{{ path('admin_item_list')}}" class="btn btn-primary">Liste des Objets</a>
	    	<h4>Followers</h4>
	    	<a href="{{ path('admin_new_follower')}}" class="btn btn-primary">Nouveau suivant</a>
			<a href="{{ path('admin_follower_list') }}" class="btn btn-primary">Liste des Suivants</a>
			<h4>Maps</h4>
			<a href="{{ path('admin_map_list')}}" class="btn btn-primary">liste de Maps</a>
			<a href="{{ path('admin_new_map')}}" class="btn btn-primary">Nouvelle map</a>
			<a href="{{ path('admin_info_list_trigger') }}" class="btn btn-primary">Liste des Triggers</a>
			<a href="{{ path('admin_info_new_trigger') }}" class="btn btn-primary">Nouveau Trigger</a>
			<h4>Combats</h4>
			<a href="#" class="btn btn-primary">liste de Combats</a>
			<a href="{{ path('admin_new_fight') }}" class="btn btn-primary">New Combat</a>
	    </div>
		<div class="row">
			<h5>Légende</h5>
			<a href="#" class="btn btn-warning">A faire</a>
			<a href="#" class="btn btn-primary">Faire</a>
		</div>
</div>
{% endblock %}