{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1>Création nouvelle trigger</h1>
            {{ form(form)}}

        </div>
        <div class="row">
        	<h1>Ajout combat</h1>
            <div class="col-lg-6">
                <ul>
                    {% for fight in fights %}
                        <li><a href="#" class="mapFight" fightId="{{ fight.id }}">
                                {{ fight.name }}
                            </a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="row">
        	<h1>Ajout passage</h1>
        	<ul>
        		{% for map in maps %}
        			<li><a href="#" class="mapTrigger" questId="{{ map.keyId }}" mapId="{{map.id}}">
                            {{ map.mapName }}
                        </a>
                        Quete : {{ map.keyid }}
                    </li>
        		{% endfor %}
        	</ul>	
        </div>
    </div>

{% endblock %}