{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1> {{ stats.name }}</h1>
            <img src="{{stats.image}}" width="100" height="100">
            <table class="table">
                <tr>
                    <th>Santé</th>
                    <td>{{ stats.health }} / {{ stats.maxHealth }}</td>
                </tr>
                <tr>
                    <th>Energie</th>
                    <td>{{ stats.energy }} / {{ stats.maxEnergy }}</td>
                </tr>
                <tr>
                    <th>Niveau</th>
                    <th>Expérience</th>
                </tr>
                <tr>
                    <td>{{ stats.level }}</td>
                    <td>{{ stats.xp }}</td>
                </tr>
                <tr>
                    <th>Déplacement</th>
                    <th>Vitesse</th>
                    <th>Attaque</th>
                    <th>Défense</th>
                    <th>Critique</th>
                </tr>
                <tr>
                    <td>{{ stats.move }}</td>
                    <td>{{ stats.quickness }}</td>
                    <td>{{ stats.attack }}</td>
                    <td>{{ stats.defense }}</td>
                    <td>{{ stats.critical }}</td>
                </tr>

            </table>

        </div>
        {% if admin == false %}
        <div class="row">
            <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-6">
                <h1>Liste des Objets</h1>
                <ul>
                    {% for key, item in items %}
                        <li>{{ item.name }}

                                <a href="{{ path('admin_follower_add_item', {'id' : key}) }}" class="btn btn-primary">Ajouter</a>

                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <h1>Liste des Objets du personnage</h1>
                <ul>
                    {% for item in chosen %}
                        {{ item.name }}
                        <a href="{{ path('admin_follower_del_item', {'id' : item.id}) }}" class="btn btn-primary">Retirer</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <div class="row">
                <a href="{{ path('admin_follower_list') }}" class="btn btn-primary">Liste des Suivants</a>
            </div>
        {% endif %}

    </div>
{% endblock %}